<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jaune congo</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h1>Jaune congo</h1>
      </header>
      <hr />
      {% block content %} {% endblock %}
      <hr />
      <div class="footer text-center">
        Copyright App bureau fait par Camille Kongolo
      </div>
    </div>
    <script src="./js/app.js"></script>
  </body>
</html>
